@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Parisienne";
    src: url("Parisienne.ttf");
}

// @font-face {
//     font-family: 'Sail', cursive;
//     src: url('/font/Sail/Sail-Regular.ttf');
// }
body {
    font-family: 'Roboto-Regular', sans-serif !important;
    p {
        margin-bottom: 0;
    }
    color: #000;
    a {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

.home-banner {
    position: relative;
    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .img-banner {
        height: 91vh;
    }
    .content-banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: white;
        .title {
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 10px;
            display: block;
            text-align: center;
        }
        .couple-name {
            background-color: rgba(170, 154, 69, 0.5);
            display: inline-block;
            margin-top: 20px;
            padding: 35px 35px 35px 35px;
            position: relative;
            p {
                font-size: 65px;
            }
            &::before {
                content: "";
                background-color: #aa9a45;
                width: 105%;
                height: 3px;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
            &::after {
                content: "";
                background-color: #aa9a45;
                width: 105%;
                height: 3px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
        .phone {
            margin-bottom: 1rem;
            letter-spacing: 10px;
            font-size: 4rem;
        }
    }
}

.img-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .fa-home {
        padding-bottom: 5px;
        margin-right: 1rem;
        font-size: 2rem;
    }
    .logoTitle {
        font-size: 25px;
    }
    .active {
        .nav-link {
            color: #aa9a45 !important;
        }
    }
    .nav-link {
        font-weight: 700;
        line-height: 4rem;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        color: #000 !important;
        transition: all ease 0.3s;
        &:hover {
            transition: all ease 0.3s;
            color: #aa9a45 !important;
        }
    }
    .nav-item {
        position: relative;
    }
    .showDrop {
        background-color: #aa9a45 !important;
        opacity: 0;
        display: block;
        visibility: hidden;
        transition: all ease 0.5s;
        top: 110%;
        padding: 0;
        .dropdown-item {
            transition: all ease 0.5s;
            border-bottom: 1px solid #fff;
            &:hover {
                transition: all ease 0.5s;
                color: #fff;
                background-color: #aa9a45 !important;
            }
        }
    }
    // .open {
    //     .showDrop {
    //         opacity: 1;
    //         top: 98%;
    //     }
    // }
    .rotate {
        &::after {
            content: '+';
            transition: all ease 0.3s;
            position: absolute;
            right: 0;
            transform: rotate( 0);
        }
    }
    .dropMenu {
        &:hover {
            .showDrop {
                visibility: visible;
                opacity: 1;
                top: 100%;
            }
            .rotate {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}